<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>阿春</string>
		<string>安妮</string>
		<string>安可</string>
	</array>
	<key>B</key>
	<array>
		<string>保罗</string>
		<string>保罗二世</string>
	</array>
	<key>C</key>
	<array>
		<string>长青</string>
		<string>长沙</string>
		<string>测试</string>
		<string>Cyrus</string>
	</array>
	<key>D</key>
	<array>
		<string>Dahlia</string>
		<string>Daisy</string>
		<string>Dakota</string>
		<string>Dulce</string>
		<string>Duncan</string>
		<string>Dylan</string>
	</array>
	<key>E</key>
	<array>
		<string>Ean</string>
		<string>Easton</string>
		<string>Eddie</string>
		<string>Eden</string>
		<string>Evie</string>
		<string>Ezekiel</string>
		<string>Ezequiel</string>
		<string>Ezra</string>
	</array>
	<key>F</key>
	<array>
		<string>Fabian</string>
		<string>Franklin</string>
		<string>Freddy</string>
		<string>Frederick</string>
		<string>Fredrick</string>
		<string>Frida</string>
	</array>
	<key>G</key>
	<array>
		<string>Gabriel</string>
		<string>Gabriela</string>
		<string>Gabriella</string>
		<string>Gabrielle</string>
		<string>Gael</string>
		<string>Gage</string>
		<string>Guillermo</string>
		<string>Gunnar</string>
		<string>Gunner</string>
		<string>Gustavo</string>
		<string>Gwendolyn</string>
	</array>
	<key>H</key>
	<array>
		<string>Haden</string>
		<string>Hugh</string>
		<string>Hugo</string>
		<string>Humberto</string>
		<string>Hunter</string>
	</array>
	<key>I</key>
	<array>
		<string>Ian</string>
		<string>Ibrahim</string>
		<string>Ignacio</string>
		<string>Izabelle</string>
		<string>Izaiah</string>
		<string>Izayah</string>
	</array>
	<key>J</key>
	<array>
		<string>Jabari</string>
		<string>Jace</string>
		<string>Justine</string>
		<string>Justus</string>
	</array>
	<key>K</key>
	<array>
		<string>Kade</string>
		<string>Kaden</string>
		<string>Kyra</string>
	</array>
	<key>L</key>
	<array>
		<string>Lacey</string>
		<string>Laci</string>
		<string>Laila</string>
		<string>Lainey</string>
		<string>Lydia</string>
		<string>Lyla</string>
		<string>Lyric</string>
		<string>Lyric</string>
	</array>
	<key>M</key>
	<array>
		<string>Macey</string>
		<string>Maci</string>
		<string>Macie</string>
		<string>Myah</string>
		<string>Myla</string>
		<string>Mylee</string>
		<string>Myles</string>
		<string>Mylie</string>
	</array>
	<key>N</key>
	<array>
		<string>Nadia</string>
		<string>Naima</string>
		<string>Nancy</string>
		<string>Norah</string>
		<string>Nyasia</string>
		<string>Nyla</string>
	</array>
	<key>O</key>
	<array>
		<string>Octavio</string>
		<string>Olive</string>
		<string>Oliver</string>
		<string>Olivia</string>
		<string>Orion</string>
	</array>
	<key>P</key>
	<array>
		<string>Pablo</string>
		<string>Paige</string>
		<string>Paisley</string>
		<string>Paloma</string>
		<string>Pamela</string>
		<string>Paola</string>
		<string>Paris</string>
		<string>Parker</string>
		<string>Priscilla</string>
	</array>
	<key>Q</key>
	<array>
		<string>Quentin</string>
		<string>Quincy</string>
		<string>Quinton</string>
	</array>
	<key>R</key>
	<array>
		<string>Rachael</string>
		<string>Rachel</string>
		<string>Raegan</string>
		<string>Ryann</string>
		<string>Ryder</string>
		<string>Ryker</string>
		<string>Rylie</string>
	</array>
	<key>S</key>
	<array>
		<string>Sabrina</string>
		<string>Sadie</string>
		<string>Sage</string>
		<string>Sylvia</string>
	</array>
	<key>T</key>
	<array>
		<string>Tabitha</string>
		<string>Talan</string>
		<string>Trystan</string>
		<string>Tucker</string>
		<string>Tyson</string>
	</array>
	<key>U</key>
	<array>
		<string>Ulises</string>
		<string>Uriel</string>
	</array>
	<key>V</key>
	<array>
		<string>Valentin</string>
		<string>Valentina</string>
		<string>Valeria</string>
		<string>Valerie</string>
		<string>Valery</string>
		<string>Van</string>
		<string>Vance</string>
		<string>Vanessa</string>
	</array>
	<key>X</key>
	<array>
		<string>Xander</string>
		<string>Xavier</string>
		<string>Ximena</string>
		<string>Xiomara</string>
		<string>Xzavier</string>
	</array>
	<key>Y</key>
	<array>
		<string>Yadira</string>
		<string>Yael</string>
		<string>Yahir</string>
		<string>Yuridia</string>
		<string>Yusuf</string>
	</array>
	<key>Z</key>
	<array>
		<string>Zachariah</string>
		<string>Zachary</string>
		<string>Zachery</string>
		<string>Zack</string>
		<string>Zoe</string>
		<string>Zoey</string>
		<string>Zoie</string>
	</array>
</dict>
</plist>
