<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10.2 桔子</key>
	<array>
		<string>阿春</string>
		<string>安妮</string>
		<string>安可</string>
	</array>
	<key>10.2 苹果</key>
	<array>
		<string>保罗</string>
		<string>保罗二世</string>
	</array>
	<key>10.2 土豆</key>
	<array>
		<string>长青</string>
		<string>长沙</string>
		<string>测试</string>
		<string>Cyrus</string>
	</array>
	<key>10.2 蕃茄</key>
	<array>
		<string>Dahlia</string>
		<string>Daisy</string>
		<string>Dakota</string>
		<string>Dulce</string>
		<string>Duncan</string>
		<string>Dylan</string>
	</array>
	<key>10.3 桔子</key>
	<array>
		<string>Ean</string>
		<string>Easton</string>
		<string>Eddie</string>
		<string>Eden</string>
		<string>Evie</string>
		<string>Ezekiel</string>
		<string>Ezequiel</string>
	</array>
	<key>10.3 苹果 </key>
	<array>
		<string>Fabian</string>
		<string>Franklin</string>
		<string>Freddy</string>
		<string>Frederick</string>
		<string>Fredrick</string>
		<string>Frida</string>
	</array>
	<key>10.3 土豆 </key>
	<array>
		<string>Gabriel</string>
		<string>Gabriela</string>
		<string>Gabriella</string>
		<string>Gabrielle</string>
		<string>Gael</string>
		<string>Gage</string>
		<string>Guillermo</string>
		<string>Gunnar</string>
		<string>Gunner</string>
		<string>Gustavo</string>
		<string>Gwendolyn</string>
	</array>
	<key>10.3 蕃茄 </key>
	<array>
		<string>Haden</string>
		<string>Hugh</string>
		<string>Hugo</string>
		<string>Humberto</string>
		<string>Hunter</string>
	</array>
	<key>10.4 桔子</key>
	<array>
		<string>Ian</string>
		<string>Ibrahim</string>
		<string>Ignacio</string>
		<string>Izabelle</string>
		<string>Izaiah</string>
		<string>Izayah</string>
	</array>
	<key>10.4 苹果</key>
	<array>
		<string>Jabari</string>
		<string>Jace</string>
		<string>Justine</string>
		<string>Justus</string>
	</array>
	<key>10.4 土豆</key>
	<array>
		<string>Kade</string>
		<string>Kaden</string>
		<string>Kyra</string>
	</array>
	<key>10.4 蕃茄</key>
	<array>
		<string>Lacey</string>
		<string>Laci</string>
		<string>Laila</string>
		<string>Lainey</string>
		<string>Lydia</string>
		<string>Lyla</string>
		<string>Lyric</string>
		<string>Lyric</string>
	</array>
	<key>10.5 桔子</key>
	<array>
		<string>Macey</string>
		<string>Maci</string>
		<string>Macie</string>
		<string>Myah</string>
		<string>Myla</string>
		<string>Mylee</string>
		<string>Myles</string>
		<string>Mylie</string>
	</array>
	<key>10.5 苹果</key>
	<array>
		<string>Nadia</string>
		<string>Naima</string>
		<string>Nancy</string>
		<string>Norah</string>
		<string>Nyasia</string>
		<string>Nyla</string>
	</array>
	<key>10.5 土豆</key>
	<array>
		<string>Octavio</string>
		<string>Olive</string>
		<string>Oliver</string>
		<string>Olivia</string>
		<string>Orion</string>
	</array>
	<key>10.5 蕃茄</key>
	<array>
		<string>Pablo</string>
		<string>Paige</string>
		<string>Paisley</string>
		<string>Paloma</string>
		<string>Pamela</string>
		<string>Paola</string>
		<string>Paris</string>
		<string>Parker</string>
		<string>Priscilla</string>
	</array>
</dict>
</plist>
